#images-container {
    max-width: 100%;
    margin: 0;
    overflow: hidden;
}

#images-container li.item {
    list-style: none;
    float: left;
    width: 20%;
    margin-bottom: 20px;
}

#images-container li.item .inner {
    margin: 0 8px;
    -webkit-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.review-rating-star{
    height: 16px;
    width: 16px;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.review-rating-star-gold{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48cGF0aCBmaWxsPSIjZjVkMDYwIiBkPSJNNjkuMiA2MS4zTDEwMCAzNy41SDYyLjVMNTAgMCAzNy41IDM3LjVIMGwzMC45IDIzLjdMMTguOCAxMDAgNTAgNzZsMzEuMyAyNHoiLz48L3N2Zz4%3D)
}

.review-popup .modal-dialog{width: 1000px;}
.review-popup .modal-content{border-radius:0;}
.review-popup a.close-icon{position:relative; width: 40px; height: 40px; background-color: #fff; display: block; padding-top: 10px; color: #000; }

.review-images-wrapper{float: left; width: 610px;}
.review-content-wrapper{float: right; width: 340px;}
.review-author{font-family: 'proximaBold', "Helvetica Neue", Arial; font-size: 20px; margin-top: 5px;}
.review-date{font-family: 'proximaRegular', "Helvetica Neue", Arial; font-size: 14px; color:#adadad; margin-top:5px;}
.review-rating{position: absolute; top: 20px; right: 30px;}
.review-writeup{font-size: 14px; margin: 15px 0;}

@media (max-width: 1200px) {
    #images-container li.item { width: 25%;}
}

@media (max-width: 768px){
    #images-container li.item { width: 50%;}
}